<h1>Manage Products</h1>
<ul>
  <li ng-repeat='product in products'>{{product.title}} ({{product.type}}): {{product.price}}</li>
</ul>
<div class='adding'>
  <h3>Add Product</h3>
  <form>
    <input type='text' ng-model='newProduct.title' placeholder='Title'/>
    <input type='text' ng-model='newProduct.type' placeholder='Type'/>
    <input type='text' ng-model='newProduct.price' placeholder='Price'/>
    <button type='submit' ng-click='addProduct(newProduct)'>Add Product</button>
  </form>
</div>
<div>
  <h3>Edit</h3>
  <select ng-options='product.title for product in products' ng-model='selectedProduct'>
  </select>
  <hr>
  <form>
    <input type='text' ng-model='selectedProduct.title' placeholder="Title"/>
    <input type='text' ng-model='selectedProduct.type' placeholder="Type"/>
    <input type='text' ng-model='selectedProduct.price' placeholder="Price"/>
    <button type='submit' ng-click='updateProduct(selectedProduct._id, selectedProduct)'>Make Change</button>
    <button ng-click='deleteProduct(selectedProduct._id)'>DELETE PRODUCT</button>
  </form>
</div>
